/**
*
* <%= pascalName %> is a stateless component:
*
*/

import React from 'react';
import PropTypes from 'prop-types';

const <%= pascalName %> = (props) => {
  return (
    <div>
        <%= pascalName %> is a stateless component.
    </div>
  );
}

// This is like your component method signature. If you pass any props into this update both.
<%= pascalName %>.propTypes = {};
<%= pascalName %>.defaultProps= {};

export default <%= pascalName %>;
